@import '../styles/_colors.global';

h2 {
  color: $blue;
}

input {
  border-radius: 5px;
  color: $black;
  box-shadow: none;
  padding: 5px;
  font-size: 1em;
}

.conditional {
  border-radius: 5px;
  border: 1px solid $blue;
  padding: 10px;
  width: 50%;
}

.selected {
  color: $magenta;
}

.clickable {
  cursor: pointer;
}
