<h2>Template interpolation</h2>
<p>My name is {{simpleName}}!</p>

<h2>Two-way input binding</h2>
<input [(ngModel)]="inputName" placeholder="type a name">
<p>Hello, {{inputName}}!<p>

<h2>Conditionals</h2>
<div *ngIf="showConditional; else showConditionalFalse" class="conditional-true">
  showConditional is true!
</div>
<ng-template #showConditionalFalse>
  <div class="conditional-false">
    showConditional is false!
  </div>
</ng-template>

<h2>Iteration</h2>
<ul>
  <li *ngFor="let veg of veggies">{{veg}}</li>
</ul>

<h2>Event binding</h2>
<button (click)="handleClick()" class="blue-button">Click me!</button>

<h2>Conditional class</h2>
<ul>
  <li *ngFor="let fruit of fruits; let i=index" [class.selected]="i==selectedFruit"
    class="clickable" (click)="selectFruit(i)">{{fruit}}</li>
</ul>
