<h1>Roster</h1>

<p>My name is {{coachName}}, team coach!</p>

<input [(ngModel)]="coachName" placeholder="type a name">

<h2>Team Roster</h2>
<ol>
  <li *ngFor="let player of players" [class.selected]="player==selectedPlayer" (click)="handlePlayerClick(player)" class="clickable">{{player.name}}</li>
</ol>

<p *ngIf="selectedPlayer" class="selected">{{selectedPlayer.name}}'s ability is {{selectedPlayer.ability}}.</p>

<h3>Add a player</h3>
<form #addPlayerForm="ngForm" (ngSubmit)="addPlayer(addPlayerForm)">
  <input name="name" placeholder="New player name" ngModel>
  <input name="ability" placeholder="New player's ability" ngModel>
  <button type="submit" class="blue-button">Add new player</button>
</form>

<h2>Today's game</h2>
<div *ngIf="gameOn; else gameOff" class="conditional-true">
  Today's game is on!
</div>
<ng-template #gameOff>
  <div class="conditional-false">
    Today's game is off!
  </div>
</ng-template>

<button (click)="handleToggleGameClick()" class="blue-button">toggle game</button>
