@import '../styles/_colors.global';

h2 {
  color: $violet;
}

.pokemon-name {
  text-transform: capitalize;
  color: $blue;
}

.pokemon-sprite {
  border: 1px solid $green;
}

.search-field {
  border-radius: 5px;
  color: $black;
  box-shadow: none;
  padding: 5px;
  font-size: 1em;
}

.not-found {
  color: $magenta;
}

.searching {
  color: $blue;
}
