@import './styles/_colors.global';

.header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: $headline-text;
}

button {
  background-color: #caebf2;
  /*color: #E7DFDD;*/
  border-radius: 5px;
  padding: 0.5em;
  border: 0;
  font-size: 1em;
}

div.navbar {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 15px;
  }
}
