@import './styles/_colors.global';

.header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: $magenta;
  .title {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .subtitle {
    font-size: 1.2em;
    margin-top: 0;
  }
}

div.navbar {
  padding: 15px 0;
  text-align: center;
  background-color: $black;
  color: white;
  .navitem + .navitem {
    margin-left: 15px;
  }
  .navitem {
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: $green;
    border: 1px solid $green;
  }
  .navitem.active {
    background-color: $green;
    color: $black;
  }
  .navitem:hover {
    @extend .navitem.active;
    opacity: 0.6;
  }
  .navitem:active {
    @extend .navitem.active;
    opacity: 0.8;
  }
}

main {
  padding: 20px;
  display: block;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
